@charset "utf-8";

html{
    scroll-behavior: smooth;
}

table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: small;
}

th{border: black solid 2px;}

th:nth-of-type(1){width: 125px;}
th:nth-of-type(2){width: 15px;}
td:nth-of-type(2){text-align: center;}
th:nth-of-type(3){width: 90px;}
td:nth-of-type(3){text-align: center;}

td{
    border: black solid 1px;
    overflow: auto;
    &:empty{
        background-color: #00000044;
    }
}
td:has(.detail){border: none;}
.detail{
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}


.start{
    border: black solid 2px;
}

.jbtn{
    position: fixed;
    bottom: 20px;
    right: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: black solid 1px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 0.3s;
    & div{
        height: 25px;
        width: 0px;
        font-size: 20px;
        text-align: center;
        color: #00000000;
        transition: all 1s;
        & img{
            height: 0px;
            overflow: hidden;
        }
    };
    & #scrolleye{
        position: absolute;
        top: 0px;
        left: 5px;
        & div{
            right: 10px;
            height: 45px;
            width: 40px;
            font-size: 40px;
            font-family: serif;
            text-align: center;
            color: black;
        }
    };
}
.jhead{
    position: fixed;
    bottom: 20px;
    right: 15px;
    height: 360px;
    width: 50px;
    border-radius: 10px;
    border: black solid 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 0.3s;
    & div{
        height: 25px;
        width: 25px;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        overflow: hidden;
        transition: all 0.3s;
        & #pin{
            font-size: 15px;
        }
        & img{
            height: 20px;
            padding-top: 5px;
        }
    };
    & #scrolleye{
        left: 5px;
        overflow: hidden;
        & div{
            right: 10px;
            height: 0px;
            width: 40px;
            font-size: 40px;
            text-align: center;
            color: black;
        }
    };
}


input{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 35px;
    width: 60vw;
    max-width: 300px;
    border-radius: 5px;
    border: black solid 2px;
    padding: 0 7px;
    font-size: 110%;
    background-color: white;
} 
