@charset "utf-8";

html{
    scroll-behavior: smooth;
}

table{
    border-collapse: collapse;
    width: 100%;
    float: left;
}


th{border: black solid 2px;}
th:nth-of-type(1){min-width: 50px;}
th:nth-of-type(2){min-width: 35px;}
th:nth-of-type(3){min-width: 60px;}
th:nth-of-type(4){min-width: 50px;}
th:nth-of-type(5){min-width: 65px;}
td:nth-child(6){width: 0px;}
td{
    border: black solid 1px;
    &:empty{
        background-color: #00000044;
    }
}
td:has(.detail){border: none;}
.detail{
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.jump{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    & a{
        height: calc(100vh / 26 - 0.6vh);
        width: 15px;
        padding-left: 3px;
        background-color: white;
        border: black solid 1px;
        border-radius: 25% 0% 0% 25%;
        &:link{color:black;}
        &:visited{color: black;}
    }
}
.start{
    border: black solid 2px;
}
