@charset "utf-8";

html{
    scroll-behavior: smooth;
}

table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: small;
}
.container{
    padding-right: 15px;
}

th{border: black solid 2px;}

th:nth-of-type(1){width: 125px;}
th:nth-of-type(2){width: 15px;}
td:nth-of-type(2){text-align: center;}
th:nth-of-type(3){width: 90px;}
td:nth-of-type(3){text-align: center;}
th:nth-of-type(5){width: 70%;}

td{
    border: black solid 1px;
    overflow: auto;
    &:empty{
        background-color: #00000044;
    }
}
td:has(.detail){border: none;}
.detail{
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.jump{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    & a{
        height: calc(85vh / 26 );
        max-height: 18px;
        overflow: hidden;
        width: 15px;
        padding-left: 3px;
        background-color: #00000000;
        border: black solid 1px;
        border-radius: 25% 0% 0% 25%;
        &:link{color:black;}
        &:visited{color: black;}
    }
}
.start{
    border: black solid 2px;
}
